{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
        <h3>
        <strong>Game 1 Instructions</strong>
    </h3>

{% endblock %}

{% block content %}

<font size="+2">

    <p>
    Game 1 consists of <b>5</b> rounds. In <b>each</b> round, you and the other 2 group members will receive <b>an initial
    endowment of 100 ECUs</b> and then decide how much of the initial endowment to keep and how much to allocate towards a group account.
    <p>
    For <b>each</b> ECU allocated to the group account, every group member will earn <b>{{subsession.mpcr}}</b> ECUs. That is,
    every ECU you allocate to the group account will generate <b>{{subsession.mpcr}}</b> ECUs for you and <b>{{subsession.mpcr}}</b> ECUs
    for everyone else in your group, therefore this leads to a total of {{subsession.mpcr}}*{{ Constants.players_per_group }} = <b>{{ subsession.units }}</b> ECUs
    for the group per ECU allocated. Similarly, if someone else allocates 1 ECU to the group account,
    you and everyone else in your group will earn <b>{{subsession.mpcr}}</b> ECUs per person.

    </p>
    <p>
        Therefore, your round payoffs are calculated as follows:
    <p>
        <strong>
        Your Round Payoffs = ECUs you keep for yourself + {{subsession.mpcr}}*(total amount allocated of all members in your group).
        </strong>
    </p>
    <p>
        For example, if you allocate 50 ECUs to the group account and keep 50 ECUs for yourself. If the total amount allocated
        to the group account is 150 ECUs. Then, your round payoff will be the ECUs you kept for yourself + 0.5 times the
        total amount allocated to the group account making 125 ECUs (i.e. 50 ECUs + 75 ECUs).
    </p>
    <p>
    <i>Now please click ‘Next’, and you will be redirected to a page with questions to check your comprehension of the instructions.</i>
    </p>

</font>

{% next_button %}
{% endblock %}