{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Payments{% endblock %}
{% block content %}
<!--
{participant.vars}}
-->
 <p>
     The game selected for payment is <b>game {{ game_selected }}.</b> These are the decisions made in the selected game.

</p>




<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
able-layout: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
}
td {
        border: 1px solid #666;
        word-break: normal;
    text-align: center;
      }
</style>
</head>
<body>
<center>
<h2>Game Information</h2>
</center>

<table border="1">
  <tr>
    <td>Round / Information</td>
    <td>Your Decision</td>
    <td>{{ a1 }}</td>
    <td>Your Payoff</td>
  </tr>
  <tr>
    <td>Round 1</td>
    <td>{{ a4 }}</td>
    <td>{{ a3 }}</td>
    <td>{{ a2 }}</td>
  </tr>
  <tr>
    <td>Round 2</td>
    <td>{{ a7 }}</td>
    <td>{{ a6 }}</td>
    <td>{{ a5 }}</td>
  </tr>
  <tr>
    <td>Round 3</td>
    <td>{{ a10 }}</td>
    <td>{{ a9 }}</td>
    <td>{{ a8 }}</td>
  </tr>
  <tr>
    <td>Round 4</td>
    <td>{{ a13 }}</td>
    <td>{{ a12 }}</td>
    <td>{{ a11 }}</td>
  </tr>
      <tr>
    <td>Round 5</td>
    <td>{{ a16 }}</td>
    <td>{{ a15 }}</td>
    <td>{{ a14 }}</td>
  </tr>
</table>
<br>
<p>

  Your points earned in this part of the experiment is <b>{{ Points_earned }}</b> ECUs. This includes <b>{{points_from_2}}</b>
  from the selected game and <b>{{rr_msg}}</b> from the game 3 lottery.
</p>


</body>
</html>
<p>

</p>
{% next_button %}

{% endblock %}