{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <h3>
        <strong>Game 2 Instructions</strong>
    </h3>

{% endblock %}

{% block content %}
<font size="+2">

    <p>
        Game 2 has <b>5</b> rounds too. Consider yourself and the other 2 participants work in a group at a firm.
        You can think of a round of this game as being a workweek.
    </p>
    <p>
        In <b>each</b> week, you and your group members can each choose to spend up to <b>70 hours</b> on an activity at work.
        The payoff that each group member receives in a round depends on <b>the number of hours she/he chooses to spend on
        the activity</b> and <b>the number of hours the two other group members choose to spend.</b> The formula below determines
        your round payoff, which is the <b>minimum hours</b> of all the group members minus <b>0.75</b> times <b>your hours</b>
        plus <b>85</b> ECUs. The payoff table is provided for you below, so you do not need to memorize this formula. <b>This payoff
        table  will be available at any point where you need to make a decision.</b> Your round payoffs are calculated as follows:
    <p>
        <strong>Your Round Payoff (ECUs) = Minimum Hours of Your Group - 0.75*Your Hours + 85 ECUs</strong>
    <b>(Please note that ECUs are rounded up to the nearest integer)</b>
    </p>
        <p>
            For example, if you spend 70 hours on the activity, and the other two group members spend 70 hours and 60 hours respectively:
            then your round payoff will be 60 – 0.75*70 +85 ECUs making 93 ECUs (<span style="color:blue;">highlighted in blue in the table below</span>).
            Your round payoff will be determined by tracing row 70 for 'your hours' and column 60 for 'group minimum hours' <strong>in the payoff table.</strong>
            The payoff of the group member who spent 70 will be identical. However, the payoff of the group member who
            spent 60 will be 60 - 0.75*60 + 85 ECUs making 100 ECUs (<span style="color:green;">highlighted in green in the table below</span>).
        </p>
    <p>
    <i> Now please click ‘Next’, and you will be redirected to a page with questions to check your comprehension of the instructions. </i>
    </p>
    </p>
</font>
    <p>

    </p>


<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
able-layout: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
}
td {
        border: 1px solid #666;
        word-break: normal;
    text-align: center;
      }

        #green
  {
    background-color: green;
  }
        #blue
  {
    background-color: blue;
  }
               #gray
  {
    background-color: gray;
  }
</style>
</head>
<body>



    <center>
        <strong>
            Payoff Table (ECUs)
        </strong>
    </center>

    </p>
    <p>

    </p>



<table height="500" width="1000" rules="all" border="1" align="center">
  <tr>
    <td></td>
    <td></td>
    <td colspan=8>Group Minimum Hours</td>
  </tr>
  <tr>
    <td rowspan=8>Your Hours</td>
    <td></td>
    <td id="gray"><strong>70</strong></td>
    <td id="gray"><strong>60</strong></td>
    <td id="gray"><strong>50</strong></td>
    <td id="gray"><strong>40</strong></td>
    <td id="gray"><strong>30</strong></td>
    <td id="gray"><strong>20</strong></td>
    <td id="gray"><strong>10</strong></td>
  </tr>
  <tr>
    <td id="gray"><strong>70</strong></td>
    <td>103</td>
    <td id="blue">93</td>
    <td>83</td>
    <td>73</td>
    <td>63</td>
    <td>53</td>
    <td>43</td>
  </tr>
  <tr>
    <td id="gray"><strong>60</strong></td>
    <td></td>
    <td id="green" >100</td>
    <td>90</td>
    <td>80</td>
    <td>70</td>
    <td>60</td>
    <td>50</td>
  </tr>
   <tr>
    <td id="gray"><strong>50</strong></td>
    <td></td>
    <td></td>
    <td>98</td>
    <td>88</td>
    <td>78</td>
    <td>68</td>
    <td>58</td>
  </tr>
 <tr>
    <td id="gray"><strong>40</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td>95</td>
    <td>85</td>
    <td>75</td>
    <td>65</td>
  </tr>
  <tr>
    <td id="gray"><strong>30</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>93</td>
    <td>83</td>
    <td>73</td>
  </tr>
 <tr>
     <td id="gray"><strong>20</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>90</td>
    <td>80</td>
  </tr>
 <tr>
    <td id="gray"><strong>10</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>88</td>
  </tr>
</table>

    <p>

    </p>

{% next_button %}

</body>
</html>
{% endblock %}