{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}

	Game 3

{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-body">

                {% include Constants.instruction_template %}

				<div class="table-responsive">
				<table class="table">
					<tr>
						<th style="text-align:center">LOTTERY</th>
						<th style="text-align:center">HEADS</th>
						<th style="text-align:center">TAILS</th>
					</tr>
					<tr>
						<td style="text-align:center">Lottery 1</td>
						<td style="text-align:center">{{ Constants.choice_1_high }} ECUs</td>
						<td style="text-align:center">{{ Constants.choice_1_low }} ECUs</td>
					</tr>
					<tr>
						<td style="text-align:center">Lottery 2</td>
						<td style="text-align:center">{{ Constants.choice_2_high }} ECUs</td>
						<td style="text-align:center">{{ Constants.choice_2_low }} ECUs</td>
					</tr>
					<tr>
						<td style="text-align:center">Lottery 3</td>
						<td style="text-align:center">{{ Constants.choice_3_high }} ECUs</td>
						<td style="text-align:center">{{ Constants.choice_3_low }} ECUs</td>
					</tr>
					<tr>
						<td style="text-align:center">Lottery 4</td>
						<td style="text-align:center">{{ Constants.choice_4_high }} ECUs</td>
						<td style="text-align:center">{{ Constants.choice_4_low }} ECUs</td>
					</tr>
					<tr>
						<td style="text-align:center">Lottery 5</td>
						<td style="text-align:center">{{ Constants.choice_5_high }} ECUs</td>
						<td style="text-align:center">{{ Constants.choice_5_low }} ECUs</td>
					</tr>
					<tr>
						<td style="text-align:center">Lottery 6</td>
						<td style="text-align:center">{{ Constants.choice_6_high }} ECUs</td>
						<td style="text-align:center">{{ Constants.choice_6_low }} ECUs</td>
					</tr>
				</table>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<b>Make your selection below</b>
			</div>

			<div class="panel-body">
				<p>{% formfield player.choice  label="" %}</p>
			</div>
		</div>
	</div>
	{% next_button %}

{% endblock %}
